<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/links')%>
    <title>Sign in</title>
  </head>
  <body style="background-color: #e4e2e6">
    <%- include('./partials/nav')%>
    <div class="container mt-5 w-50">
      <h2 class="text-center">Login</h2>
      <% if(error.length){ %>
      <div class="alert alert-danger" role="alert"><%=error %></div>
      <%}%>

      <form action="/signin" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
      </form>

      <div class="mt-5 text-center">
        <p>Don't have an account? <a href="/signup">Register</a></p>
      </div>
    </div>
    <%- include('./partials/scripts')%>
  </body>
</html>
